page-achievements {
	.achievement {
		text-align: center;

		img {
			width: 80%;
			height: 80%;
		}
	}
	.achievement:not(.active) {
		opacity: .25;
	    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		filter: grayscale(100%);
	}
}
