page-achievements {
	.category {
		line-height: 72px;

		img {
			width: 72px;
			height: 72px;
			display: inline;
			float: left;
		}

		h1 {
			height: 72px;
			display: inline;
		}
	}

	.achievement {
		text-align: center;

		img {
			width: 80%;
			height: 80%;
		}
	}
	.achievement:not(.active) {
		opacity: .25;
	    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		filter: grayscale(100%);
	}
}
