page-chat {
    .avatar{
        width: 34px;
        height: 34px;
        border-radius: 17px;
        overflow: hidden;        
    }

    .scroll-content{
        background: #f0f0f0;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        padding-bottom: 35px !important;

        ul{
            height: 100px;
            padding: 0;
            margin: 0;
            list-style: none;
            display: block;
            
            li{
                display: block;
                padding: 13px 17px;
                clear: both;
                border-radius: 7px;
                margin: 5px 0;
                max-width: 80%;

                &.left{
                    float:left;
                    background: #ddd;
                }

                &.right{
                    float:right;
                    background: color($colors, okidoki, base);
                }
            }
        }
        
    }
}
