page-achievement-detail {
	.scroll-content{
		background: color($colors, seawater, base);
	}
	#achievement {
		text-align: center;
		padding: 0 25px;

		img {
			width: 75%;
			height: auto;
		}
		img:not(.active) {
			opacity: .25;
		    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
			filter: grayscale(100%);
		}

		.adquired_date {
			font-style: italic;
			color: gray;
		}
	}
}
